@import './base.css';
@import "../../node_modules/purecss/build/pure-min.css";


.layout {
  margin: 0 auto;
  position: relative;
  left: 0;
  padding-left: 0;
}
  .layout.active #menu {
      left: 150px;
      width: 150px;
  }

  .layout.active .menu-link {
      left: 150px;
  }

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

header {
  margin: 0;
  color: #333;
  border-bottom: 1px solid #eee;
  
}
  header .pure-menu-horizontal {
    margin: 0 auto;
    max-width: 920px;
    /* max-width: 800px; */
  }
  header .pure-menu-heading {
    text-transform: none;
  }

form.pure-form button[type="submit"] {
    margin-left:5px

  }